.person-results {
  font-size: 12px;

  width: auto;

  padding: 3px;

  thead,
  tbody {
    tr {
      td,
      th {
        white-space: nowrap;
        width: auto;
        padding: 3px 5px;
      }
    }
  }

  & .wide-column {
    width: 80px;
  }

  & .first-result {
    padding-left: 25px;
  }
}

.person-avatar {
  max-width: 300px;
  max-height: 400px;
  display: block;
}

.person-title {
  font-weight: bold;
  color: #02A;
}

.main {
  text-align: center;
  font-size: 18px;
}

.different-comp {
  font-weight: bold;
}
